    <head>
        <title> Vacation Rentals, Homes, Apartments & Rooms for Rent - Airbnb</title>
    <!--     <link rel="icon" type="image/jpg" href="img/maxrexdefault.jpg"> -->
    </head>
<body>
    <div id="header">
        <div id="nav">
            <!-- <img src="https://s5.postimg.org/qqgj4taev/logo.png" id="logo" /> -->
               <p id="logo_text">TOURIT</p>
            <a href="#" class="nav_links">Log In</a>
            <a href="#" class="nav_links">Sign Up</a>
            <a href="#" class="nav_links">Help</a>
        </div>
        <div id="welcome_text_div">
            <p id="welcome_text">Welcome</p>
            <p id="welcome_under_text">Rent unique places to stay from local hosts in 190+ countries.</p>
            <a href="#" id="how_it_works">
                How It Works
            </a>
        </div>     
            <div id="searchbar_div">
                <div id="searchbar">
                    <div id="where_div">
                        <input type="search" placeholder="Where to next?" id="where_text">


                    </div>
                    <div id="search_button_div">
                        <a href="#" id="search_button">
                            Search
                        </a>
                    </div>

            </div>
        </div>
    </div>
</body>